<div class="container">
<h1>Create a new businesscard: </h1>
<%= render partial: 'form' %>
</div>

<!-- <h1>Add a businesscard</h1>

<form action="<%= businesscards_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <label for="title">Title</label>
  <br>
  <input id="title" type="text" name="businesscard[title]" />

  <br>
  <label for="name">Name</label>
  <br>
  <textarea id="name" name="businesscard[name]"></textarea>

  <br>
  <input type="submit" value="Save" />
</form>
 -->
