<h1>
    <span>Name: <%=@businesscard.name %></span>
      <br>
      <span>Email: <%=@businesscard.email %></span>
        <br>
        <span>Phone: <%=@businesscard.phone %></span>
        <br>
        <span>Title: <%=@businesscard.title%></span>


</h1>
