<h1>
    <span>Name: <%=@user.name %></span>
      <br>
      <span>Email: <%=@user.email %></span>
        <br>
        <span>Phone: <%=@user.phone %></span>
        <br>
        <span>Title: <%=@user.title%></span>


</h1>
